@import url(https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap);
@import url(https://fonts.googleapis.com/earlyaccess/kokoro.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App Nav{
  font-family: 'Gloria Hallelujah';
}

/* sakura */
section{
  position: relative;
}
.inner {
  width: 200px;
  margin: auto;
  height: 400px;
  position: absolute;
  top: -350px;
  overflow: hidden; 
}
    .inner div {
      opacity: 0;
      -webkit-transform-origin: 0px 0px;
          -ms-transform-origin: 0px 0px;
              transform-origin: 0px 0px;
      -webkit-animation-name: Drop;
              animation-name: Drop;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards; 
    }
#sakura .inner div{
  position: absolute;
  display: block;
  width: 50px;
  height: 75px;
  background: url(../src/asset/sakura.png) no-repeat;
}
.flake1{
  left: -10px;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}  

.flake2 {
  left: 50px;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.flake3 {
  left: 150px;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

@-webkit-keyframes Drop {
  0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      opacity: 0;
  }

  50% {
      -webkit-transform: translateY(75px);
      transform: translateY(75px);
      opacity: 1;
  }

  100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
      opacity: 0.3;
  }
}

@keyframes Drop {
  0% {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      /* -webkit-transform: translateX(20px);
      transform: translateX(20px); */
      opacity: 0;
  }

  50% {
      -webkit-transform: translateY(75px);
      transform: translateY(75px);
      
      opacity: 1;
  }

  100% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);

      opacity: 0.3;
  }
}
/* smoky文字 */
/* .Iam{
  margin-bottom: 50px; */
  /* margin-right: 370px; */
  /* font-size: 40px;
} */
/* p span{
  display: inline-block;
  text-shadow: 0 0 0 whitesmoke;
  -webkit-animation: smoky 5s 3s both;
          animation: smoky 5s 3s both;
}

p span:nth-child(even)  {
  -webkit-animation-name: smoky-mirror;
          animation-name: smoky-mirror;
} */

/* @-webkit-keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(-15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
            transform: translate3d(-15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}

@keyframes smoky {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(-15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
            transform: translate3d(-15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}
@-webkit-keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(-18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
            transform: translate3d(-18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
}
@keyframes smoky-mirror {
  60% {
    text-shadow: 0 0 40px whitesmoke;
  }
  to {
    -webkit-transform: translate3d(-18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
            transform: translate3d(-18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
} 
.title span:nth-of-type(1) {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

.title span:nth-of-type(2) {
  -webkit-animation-delay: 5.0s;
          animation-delay: 5.0s;
}

.title span:nth-of-type(3) {
  -webkit-animation-delay: 5.3s;
          animation-delay: 5.3s;
}

.title span:nth-of-type(4) {
  -webkit-animation-delay: 5.0s;
          animation-delay: 5.0s;
}

.title span:nth-of-type(5) {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}

.title span:nth-of-type(6) {
  -webkit-animation-delay: 5.6s;
          animation-delay: 5.6s;
}

.title span:nth-of-type(7) {
  -webkit-animation-delay: 3.7s;
          animation-delay: 3.7s;
}

.title span:nth-of-type(8) {
  -webkit-animation-delay: 3.8s;
          animation-delay: 3.8s;
}

.title span:nth-of-type(9) {
  -webkit-animation-delay: 3.9s;
          animation-delay: 3.9s;
}

.title span:nth-of-type(10) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.title span:nth-of-type(11) {
  -webkit-animation-delay: 4.1s;
          animation-delay: 4.1s;
}

.title span:nth-of-type(12) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.title span:nth-of-type(13) {
  -webkit-animation-delay: 4.3s;
          animation-delay: 4.3s;
}

.title span:nth-of-type(14) {
  -webkit-animation-delay: 4.4s;
          animation-delay: 4.4s;
}

.title span:nth-of-type(15) {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}

.title span:nth-of-type(16) {
  -webkit-animation-delay: 4.6s;
          animation-delay: 4.6s;
}

.title span:nth-of-type(17) {
  -webkit-animation-delay: 4.7s;
          animation-delay: 4.7s;
}

.title span:nth-of-type(18) {
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}

.title span:nth-of-type(19) {
  -webkit-animation-delay: 4.9s;
          animation-delay: 4.9s;
}

.title span:nth-of-type(20) {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.title span:nth-of-type(21) {
  -webkit-animation-delay: 5.1s;
          animation-delay: 5.1s;
} */

/* バウンス文字 */
.title span{
  position: relative;
  top: 10px;
  display: inline-block;
  -webkit-animation: smoky 5.0s ease infinite alternate;
  animation: smoky 5.0s ease infinite alternate;
}

.title span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.title span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.title span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.title span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.title span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.title span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.title span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.title span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.title span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.title span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.title span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.title span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.title span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

/* ANIMATION for バウンス */
@keyframes smoky {
  100% {
    top: -5px;
  }
  50%{
    color: #ffc6c1;
    opacity: 0.5;
  }
  to{
    color: #ffada5;
  }
}

.App p {
  text-align: center;
  /* font-family: 'Raleway', sans-serif; */
  font-weight: 100;
  color: #ff9a9e;
  font-family: 'Gloria Hallelujah', cursive;
  margin:0 auto;
  line-height: 0.1em;
}

.cardText{
  width: 100%;
  position: relative;
  overflow: hidden;
  justify-content: center;
  margin: 5px auto;
  padding-right: 120px;
  padding-top: 30px; 
  line-height: 1.8em;
  position: center;
  text-align: left;
  text-transform: none;
  font-size: 20px;
}

@media screen and (max-width: 768px){
  .cardText{
    font-size: 15px;
    padding-right: 50px;
    padding-top: 40px; 
    line-height: 1.5em;
  }
}
@media only screen and (max-width: 600px) {
  .cardText {
    font-size: 15px;
    line-height: 1.5em;
    padding-top: 0;
  }
}
.cardTextJp{
  background-color:#edf6f9;
  line-height: 2.2em;
  width: 100%;
  height: 100%;
  /* font-family: Kokoro, Verdana, Geneva, Tahoma, sans-serif; */
  font-family: M PLUS Rounded 1c;
}
@media screen and (max-width: 600px){
  .cardText .cardTextJp{
    line-height: 2.0em;
  }
}
.cardText .mask{
  width:	85%;
  height:			100%;
  position:		absolute;
  top:			0;
  left:			0;
  opacity:		0;	/* 表示させない */
  -webkit-transform:	rotateY(-180deg);
  transform:		rotateY(-180deg);
  -webkit-transition:	all 1.0s ease;
  transition:		all 1.0s ease;
  overflow: hidden;
  justify-content: center;
  margin: 30px auto;
  padding: 40px auto;
}
@media screen and (max-width: 600px){
  .cardText .mask{
    margin: 0 auto;
    padding: 20px auto;
  }
}
.cardText:hover .mask{
  -webkit-transform:	rotateY(0deg);
	transform:		rotateY(0deg);
  opacity:		1;	/* ホバーで表示する */
}

